version: 2.1

jobs:
  build-and-deploy:
    docker:
      - image: cimg/node:22.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-v1-{{ checksum "package-lock.json" }}
            - deps-v1-
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: deps-v1-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: Build site
          command: npm run build
      - run:
          name: Deploy to Firebase
          command: npx firebase-tools deploy --token "$FIREBASE_TOKEN" --non-interactive

workflows:
  deploy:
    jobs:
      - build-and-deploy:
          filters:
            branches:
              only: main
